<h2>{{lesson.title}}</h2>
<p>{{lesson.description}}</p>


<br>
<br>

<form class="waves-effect waves-light btn-large" action="/lesson/{{lesson.id}}/edit" method="get">
    <input type="submit" value="Edit">
</form>

<br>
<br>

<form class="waves-effect waves-light btn-large" action="/lesson/{{lesson.id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete">
</form>

{{!-- {{if }} --}}
<br>
<br>

{{#each lesson.feedbacks}}
<p>{{title}}</p>
<p>{{author}}</p>
<p>{{content}}</p>
{{/each}}