<h2>{{lesson.title}}</h2>
<p>{{lesson.description}}</p>
{{#if lesson.status}}
<p>Status: ✅</p>
{{else}}
<p>Status: ❌</p>
{{/if}}

<a href="/lesson/{{lesson.id}}/edit">Edit</a>

<form action="/lesson/{{lesson.id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete">
</form>


{{#each lesson.feedbacks}}
{{this}}

{{/each}}